<div ng-controller="todoCtrl" class="list">
    <div class="add">
        <a href="" ng-click="addTodo()">+ Add a new task</a>
    </div>
    <div ng-repeat="todo in todos | orderBy: 'completed'" class="item" ng-class="{ 'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-init="todo.completed = false">
        <input type="checkbox" ng-model="todo.completed"/>
        <span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>
        <label ng-hide="editing" class="editing" ng-click="editing = true">{{ todo.name }}</label>
        <input type="text" ng-blur="editing = false" class="editing-label" ng-show="editing" ng-model="todo.name" ng-change="todo.edited = true"/>
        <div class="actions">
            <!-- <a href="" ng-click=" editing = !editing ">Edit</a> -->
            <a href="" ng-click="saveTodos()">Save</a>
            <a href="" ng-click="deleteTodo(todo, $index)" class="delete">Delete</a>
        </div> <!-- /.action -->
    </div> <!-- ng-repeat -> todo in todos -->
</div> <!-- mainController /.list -->